
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:wght@400;600&display=swap');

.card {
    max-width: 600px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0.5rem;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: #C30E59;
    text-align: center; 
}

.icon {
    color: #C30E59;
}

.icon svg {
    height: 1rem;
    width: 1rem;
}

.alert {
    font-weight: 600;
    color: #C30E59;
    align-items:center;
    text-align: center;
}

.message {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o texto verticalmente */
    align-items: center; /* Centraliza o texto horizontalmente no container */
    text-align: left; /* Garante que o conteúdo dentro fique alinhado à esquerda */
    color: rgba(107, 114, 128, 1);
    font-family: 'Montserrat', sans-serif;
    width: 100%; /* Ocupa todo o espaço disponível */
}


.actions {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.actions a {
    text-decoration: none;
    border-radius: 0.5rem;
    flex: 1;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: #C30E59; 
    color: rgba(255, 255, 255, 1);
    transition: all 0.15s ease;
}

.actions a:hover {
    background-color: #a30b4a; 
}
