@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-verde: #9BB899;
    --cor-rosa-claro: #FCCEAA;
    --cor-rosa-escuro: #EA4961;
    --font-principal: Caveat;
    --font-secundaria: Montserrat;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
    font-weight: bolder;
}

.imgC {
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    height: 50%;
}

.estilo {
    font-family: var(--font-secundaria);
    color: #FFF;
}

.estilo2 {
    font-size: larger;
    font-family: var(--font-principal);
    color: #FFF;
}

p a {
    font-family: Montserrat;
    color: #FCCEAA;
}

p {
    color: #797878;
    font-size: medium;
    font-family: var(--font-secundaria);
    text-align: justify;
}

.navbar {
    background-color: transparent;
}

.principal {
    width: 100%;
}


.destaque img {
    max-width: 100%;

}

button {
    background-color: #6CC4A1;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5aa388;
}

.imgCupCake {
    width: 200px;
    height: 200px;
    object-fit: cover;

}