.container{
    font-family: Montserrat;
}
.itens-carrinho {
    background-color: #FCCEAA;    
}
#opcaoEntrega{
   background-color: #9BB899; 
   border: #9BB899;
}
.resumo-pedido {
    background-color: #9BB899; 
    color: #000;
}

.resumo-pedido h3, .resumo-pedido h4 {
    border-bottom: 1px solid #EA4961;
    padding-bottom: 5px;
}

.item-carrinho img {
    object-fit: cover;
}

