.container {
    font-family: Montserrat;
}

#opcaoEntrega {
    height: 20px;
    border-radius: 5px;
    background-color:#FFE2E2;
    color: #C30E59;
    font-weight: 500;
    border: 0;
}

#opcaoEntrega option {
    font-weight: 500;
}

.resumo-pedido {
    background-color:#C30E59;
    border-radius: 10px;
    color: #000;
    font-weight: 550;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.finalizar{
    background-color: #FFE2E2;
    color: #C30E59;
    font-weight: 500;
    position: relative;
    margin-top: auto;
}

.escolha{
    color: #fff;
}

.quant {
    display: inline-flex;
    background-color: #C30E59;
    align-items: center;
    width: 120px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #C30E59;
    height: 38px;
}

.quant button {
    border: none;
    background-color: transparent;
    padding: 0 10px;
    font-size: 2.2rem;
    min-width: 38px;
    cursor: pointer;
    color: #FFE2E2;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.quant button:focus {
    outline: none;
}

.quant span {
    padding: 0 10px;
    background-color:#C30E59;
    color: #FFE2E2;
    font-weight: 600;
    font-size: 1.2rem;
    min-width: 38px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-carrinho {
    align-items: flex-start !important;
}

.resumo-pedido h3, .resumo-pedido h4 {
    border-bottom: 1px solid #FFE2E2;
    padding-bottom: 5px;
    color: #fff;

}

.botao a{
    border-radius: 50%;
}

.limpar {
    background-color: transparent;
    color: #C30E59;
    font-size: 5rem;
}

.item-carrinho img {
    object-fit: cover;
    width: 500px;
    margin-right: 2%;
}

.quantidade-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantidade-numero {
    background-color: white;
    color: black;
    font-size: 16px;
    border: 1px solid #f08080;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    margin: 0 5px;
    width: 40px;
}


